/* Move down content because we have a fixed navbar that is 50px tall */
body {
    font-family: "Ubuntu";
    font-size: 14px;
    padding-bottom: 20px;
    margin: 0;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

/*Forms*/
.form-header {
    background-color: #003366;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .form-header h2, .form-header h3, .form-header h4 {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form-header .float-right {
        float: right;
        margin-top: 10px;
    }
    
/*Forms2*/
.form-header2 {
    background-color: #007da4;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    .form-header2 h2, .form-header2 h3, .form-header2 h4 {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form-header2 .float-right {
        float: right;
        margin-top: 10px;
    }

.form-body {
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
/*End Forms*/

/*Generic*/
.margin-top-18-neg {
    margin-top: -18px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-right-5 {
    margin-right: 5px;
}

.padding-top-label-sim {
    padding-top: 32px;
}

.width-100 {
    width: 100%
}

.text-center {
    text-align: center;
}

.chk-lst-table label {
    margin-left: 6px;
    margin-right: 4px;
}
/*End Generic*/
hr.hr-black {
    border : 1px ridge;
    clear: both;
    display: block;
    margin: 1.4rem auto;
    text-align: center;
    width: 100%;
}
.label-input, .label-input-top {
    position: relative;
    margin-top: 16px;
}

    .label-input label, .label-input-top label {
        position: absolute;
        color: #006699;
        font-size: 0.9em;
        top: -10px;
        left: 12px;
        z-index: 2;
        background: white;
        padding: 0 5px;
        z-index: 3;
    }

    .label-input .select2-container, .label-input-top .select2-container {
        display: block;
    }

    .label-input .select2-container--default .select2-selection--single, .label-input-top .select2-container--default .select2-selection--single {
        border: 1px solid #ccc;
        padding: 6px 12px;
        height: 34px;
    }

        .label-input .select2-container--default .select2-selection--single .select2-selection__arrow, .label-input-top .select2-container--default .select2-selection--single .select2-selection__arrow {
            margin-top: 3px;
        }

    .label-input-top label {
        top: -18px;
    }

.error-message {
    display: block;
    color: red;
    font-weight: bold;
}
.form-header3 {
    background-color: #007da4;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

    .form-header3 h2, .form-header3 h3, .form-header3 h4 {
        display: inline-block;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .form-header3 .float-right {
        float: right;
        margin-top: 10px;
    }


.paginar > td > table > tbody > tr > td {
    border: 0.5px solid #ddd;
    padding-left: 10px !important;
    padding-right: 10px !important;
    background-color: #F9F9F9;
    color: black;
}
.paginar > td > table > tbody > tr > :hover {
    background-color: #ddd;
}

.paginar > td > table > tbody > tr > td > a{
    color: steelblue;
    text-decoration: none;
}

.form-control[readonly] {
    background-color: #f9f9f9;
}

.hide{
    display:none;
}

/* https://www.freecodecamp.org/news/css-only-pie-chart/ */
/*INICIO PIE CHART*/
@property --p {
    syntax: '<number>';
    inherits: true;
    initial-value: 1;
}

.pie {
    --p: 50; /* Porcentaje */
    --b: 10px; /* Grosor */
    --c: #006699; /* Color */
    --w: 120px; /* Ancho */
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 16px;
    font-weight: bold;
}

    .pie:before,
    .pie:after {
        content: "";
        position: absolute;
        border-radius: 50%;
    }

    .pie:before {
        inset: 0;
        background: radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
        mask: radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
    }

    .pie:after {
        inset: calc(50% - var(--b)/2);
        background: var(--c);
        transform: rotate(calc(var(--p)*3.6deg)) translateY(calc(50% - var(--w)/2));
    }

.animate {
    animation: p 1s .5s both;
}

.no-round:before {
    background-size: 0 0, auto;
}

.no-round:after {
    content: none;
}

@keyframes p {
    from {
        --p: 0
    }
}
/*FIN PIE CHART*/

@media (min-width: 768px) {

    .frame-bi {
        width: 100%;
        height: 650px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

@media (max-width: 768px) {
    .frame-bi {
        width: 100%;
        height: 300px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}

div.progressbar {
    -webkit-transition: all 18s;
    -moz-transition: all 18s;
    -ms-transition: all 18s;
    -o-transition: all 18s;
    transition: all 18s;
    background-color: white;
    margin-bottom: 10px;
    webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .1);
}

div.progressbar-interno {
    -webkit-transition: all 18s;
    -moz-transition: all 18s;
    -ms-transition: all 18s;
    -o-transition: all 18s;
    transition: all 18s;
}

/*Loader linear*/
.loader-line {
    --s: 20s; /* Duracion del loader */
    display: none;
    width: 80%;
    height: 3px;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
    margin: 10px auto;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

    .loader-line:before {
        content: "";
        position: absolute;
        left: -50%;
        height: 3px;
        width: 40%;
        background-color: #006699;
        -webkit-animation: lineAnim var(--s) linear forwards;
        -moz-animation: lineAnim var(--s) linear forwards;
        animation: lineAnim var(--s) linear forwards;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
    }

@keyframes lineAnim {
    0% {
        left: 0%;
        width: 0%;
    }

    50% {
        left: 0%;
        width: 50%;
    }

    100% {
        left: 0%;
        width: 100%;
    }
}
/*Loader circular*/
.loader {
    width: 28px;
    height: 28px;
    border: 3px solid #006699;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.textbox-format {
    resize: vertical;
    min-height: 8rem;
    max-height:20rem;
}
.label-importante {
    color: red;
    font-weight:bold;
}
/* Tree View example */
ul.treeViewRoot li {
    line-height: 20px;
    width: 600px;
}

.treeView_expand, .treeView_collapse {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
    padding: 0px;
}

form ul,
form ol {
    list-style-type: none;
}

@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    color: black;
    text-decoration: none;
    background-color: #f5f5f5;
}

#ul_Funcionario > li > a:hover, .dropdown-menu > li > a:focus {
    color: black;
    text-decoration: none;
    background-color: #c0c6ca;
}

.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    padding: 5px;
    line-height: 1.428571429;
    vertical-align: top;
}

.jumbotron {
    padding-top: 50px;
    /* padding-bottom: 30px; */
    margin-bottom: 30px;
    color: inherit;
    background-color: #eee;
    margin-top: 90px;
}

.form-wrapper {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 20px 20px 60px rgba(0, 0, 0, 0.15);
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: #003366;
}

.TituloSistema {
    color: white;
    font-size: 18px;
}

.subTituloSistema {
    color: white;
    font-size: 15px;
}

/*Personalizados, son exclusivos para la aplicación Evaluación*/
.alinear-centro {
    align-content: center;
}

.alinear-izquierda {
    text-align: left;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-left-14 {
    margin-left: 14%;
}

.margin-left-evaluation-20 {
    margin-left: 20%;
}

.margin-right--minus-10 {
    margin-right: -10px;
}

.margin-right--minus-13 {
    margin-right: -13px;
}

.margin-left--minus-20 {
    margin-left: -20px;
}

.margin-right-11 {
    margin-right: 11px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-8 {
    margin-left: 8px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-left-10 {
    margin-left: 10px;
}

input.txt-porcentaje-contribucion {
    display: inline-block;
}

span.imagen-expandir {
    top: 2px;
}

span.imagen-usuario {
    top: 2px;
}

span.imagen-usuario-sedi {
    top: 4px;
}

span.imagen-miplan {
    top: 1px;
}

span.imagen-enviar {
    top: 1px;
    margin-right: 5px;
}

.imagen-expandir {
    font-size: 14px;
    margin-right: 2px;
    vertical-align: text-top;
}

.imagen-usuario {
    font-size: 12px;
    margin-right: 2px;
    vertical-align: text-top;
}

.imagen-usuario2 {
    font-size: 20px;
    margin-right: 2px;
}

.imagen-usuario-sedi {
    font-size: 12px;
    margin-right: 2px;
    vertical-align: text-top;
}

.imagen-info {
    font-size: 25px;
    margin-right: 2px;
}

.imagen-noiniciado {
    font-size: 20px;
    margin-right: 2px;
}

span.imagen-warning {
    font-size: 20px;
    margin-right: 2px;
    top: 2px;
}

span.imagen-check {
    font-size: 20px;
    margin-right: 2px;
    top: 1px;
}

span.imagen-back {
    margin-right: 2px;
    top: 1px;
}

.imagen-correccion {
    font-size: 20px;
    margin-right: 2px;
}

.icon-blue {
    color: #4585f2;
}

.icon-yellow {
    color: #fbd81c;
}

.icon-green {
    color: #4caf50;
}

.icon-red {
    color: #c40000;
}

.literal-porcentaje-avance {
    font-size: 16px;
    align-content: center;
}

.alinear-derecha {
    text-align: right;
}

.alinear-centro {
    text-align: center;
}

.alinear-justify {
    text-align: justify;
}

div.alinear-content-centro {
    text-align: -webkit-center;
}

.table.border-none {
    border: hidden;
}

table.border-white {
    border-color: white;
}

.espacio-letra-instrumento {
    padding-left: 5.8em;
}

.texto-entregable {
    font-weight: bold;
}

table.margin-botton-0 {
    margin-bottom: 0px;
}

table.margin-top-10 {
    margin-bottom: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

table.margin-top-30 {
    margin-bottom: 30px;
}

table.margin-bottom-5 {
    margin-bottom: 5px;
}

.texto-font-size-16 {
    font-size: 16px;
}

.texto-font-size-50 {
    font-size: 50px;
    font-weight: 500;
    line-height: 1.1;
    padding-bottom: 30px;
}

.localize-nota {
    color: #00687F;
}

.background-entregables {
    background: #edf6fa;
}

.background-aportes {
    background: #edf6fa;
}

.background-resultados {
    background: #bbd9e8;
}

.enlace-revisar {
    color: white;
}

.indicador-500-caracteres {
    border: none;
    color: #FF003A;
    width: 30px;
    background-color: #FFFFFF;
}

.localize-indicador-500-caracteres {
    color: red;
}

.float-left {
    float: left;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-15 {
    margin-bottom: 15px;
}

.radioboxlist label {
    margin-left: 5px;
}

.radioboxlist radioboxlistStyle {
    font-size: x-large;
    padding-right: 10px;
}

.radioboxlist label {
    color: #3E3928;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    clear: left;
    margin-right: 10px;
    margin-left: 10px;
}

    .radioboxlist label:hover {
        color: #CC3300;
        background: #D1CFC2;
        cursor: pointer;
    }

input:checked + label {
    margin-left: 5px;
    border-radius: 1.5rem;
    background-color: rgba(0, 102, 153, 0.1019607843);
    color: #006699;
    font-weight: 600;
}

.radio label, .checkbox label {
    padding: 2px 8px !important;
}

.radioboxlist2 label {
    margin-left: 5px;
}

.radioboxlist2 radioboxlistStyle {
    font-size: x-large;
    padding-right: 10px;
}

.radioboxlist2 label {
    color: #3E3928;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    clear: left;
    margin-right: 50px;
}

    .radioboxlist2 label:hover {
        color: #CC3300;
        background: #D1CFC2;
        cursor: pointer;
    }

div.progressbar {
    -webkit-transition: all 13s;
    -moz-transition: all 13s;
    -ms-transition: all 13s;
    -o-transition: all 13s;
    transition: all 13s;
    background-color: white;
    margin-bottom: 10px;
    webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
}

div.progressbar-interno {
    -webkit-transition: all 13s;
    -moz-transition: all 13s;
    -ms-transition: all 13s;
    -o-transition: all 13s;
    transition: all 13s;
}

.btn-iica-gray {
    color: black;
    background-color: gray;
    border-color: #52574d;
    left: 0px;
}

div.margin-top-150 {
    margin-top: 150px;
}

div.margin-top-8 {
    margin-top: 8px;
}

div.border-radius-15 {
    border-radius: 15px;
}

div.border-color-green {
    border-color: green;
}

.calificacion-final {
    font-size: 18px;
    font-weight: bold;
}

.calificacion-final-valor {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.calificacion-panel {
    font-weight: bold;
    color: red;
    font-size: 18px;
}

.hr-split {
    border-top: 1px solid #003366;
    margin-top: 10px;
}

.radioboxlist3 label {
    margin-left: 5px;
}

.radioboxlist3 radioboxlistStyle {
    font-size: x-large;
    padding-right: 10px;
}

.radioboxlist3 label {
    color: #3E3928;
    /*padding-left: 18px;*/
    padding-right: 18px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    clear: left;
    margin-right: 10px;
    margin-left: 10px;
}

    .radioboxlist3 label:hover {
        color: #CC3300;
        background: #D1CFC2;
        cursor: pointer;
    }

.error-span {
    display: block;
    color: red;
    font-weight: bold;
}

/*End Error*/
/*Glyphicons*/
.glyphicons-iica {
    font-size: 20px;
    color: white;
}

.glyphicons-iica2 {
    font-size: 20px;
    color: green;
}

.btn-delete:hover {
    color: #fff;
    background-color: #c40000;
    border-color: #b40101;
}

.btn-delete {
    color: #fff;
    background-color: #FF003A;
    border-color: #FF003A;
}

.btn-cancel:hover {
    color: #fff;
    background-color: #8d8c86;
    border-color: #8d8c86;
}

.btn-cancel {
    color: #fff;
    background-color: #adacaa;
    border-color: #adacaa;
}

td.background-checkin {
    background-color: #d5eafa;
}

.modal-custom {
    width: 400px;
}

.guia-checkin {
    color: #fff;
    margin-top: 10px;
}

    .guia-checkin:hover {
        color: #fff;
    }

.display-none {
    display: none;
}

#container3 {
    min-width: 320px;
    height: 400px;
    margin: 0 auto;
}

.spanCompetencias {
    color: #007da4;
    font-size: 15px;
    font-weight: bold;
}

.table-border-none {
    border-color: white;
}

tbody tr th.headRowSortAsc a {
    font-family: "Ubuntu";
    font-size: 14px;
    display: inline-block;
    padding-left: 7px;
}

tbody tr th.headRowSortDesc a {
    font-family: "Ubuntu";
    font-size: 14px;
    display: inline-block;
    padding-left: 7px;
}

.justify-content-center {
    display: flex;
    justify-content: center !important;
}

.svg-white {
    filter: invert(98%) sepia(9%) saturate(2%) hue-rotate(64deg) brightness(113%) contrast(100%);
}

.bg-almost-white {
    background-color: #eeeeee;
}

.bg-shaded-white {
    background-color: #dddddd;
}

.bg-dark-white {
    background-color: #cccccc;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.border-left {
    border-left: 1px #ebebeb solid;
}

.border-right {
    border-right: 1px #ebebeb solid;
}

.border-top {
    border-top: 1px #ebebeb solid;
}

.border-bottom {
    border-bottom: 1px #ebebeb solid;
}

.border-full {
    border: 1px #ebebeb solid;
}

.border-rounded {
    border-radius: 5px;
}

.botonMenu {
    font-size: 12px;
    font-weight: 500;
    padding: 1em;
    border: none;
    border-radius: 10px;
    transition: 0.2s ease-in-out 0s;
}

/*Boton para Informe anual*/
.IAbotonMenu {
    font-size: 12px;
    font-weight: 500;
    padding: 1em;
    border: none;
    border-radius: 10px;
    margin-top: -50px;
    transition: 0.2s ease-in-out 0s;
}

/*.botonMenu:hover {
        transform: scale(1.25);
    }*/
.planEstrat {
    /*color: #008000;*/
    background-color: rgba(15, 52, 59, 0.1333333333);
    color: #0f343b;
}

.progInst {
    /*color: #003366;*/
    background-color: rgba(5, 74, 87, 0.1333333333);
    color: #054a57;
}

.MDA {
    /*color: #4caf50;*/
    background-color: rgba(8, 98, 83, 0.1333333333);
    color: #086253;
}

.monInst {
    /*color: #ad0000;*/
    background-color: rgba(167, 98, 6, 0.1333333333);
    color: #a76206;
}

.evaInst {
    /*color: #ffa500;*/
    background-color: rgba(10, 125, 147, 0.1333333333);
    color: #0a7d93;
}

.repEject {
    /*color: #663399;*/
    background-color: rgba(8, 98, 44, 0.1333333333);
    color: #08622c;
}

.imgButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100px;
    z-index: 1;
    transition: 0.2s ease-in-out 0s;
}

/*Imagen de Informe Anual*/
.IAimgButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 80%;
    height: 60px;
    transition: 0.2s ease-in-out 0s;
}

/*.imgButton:hover {
        transform: scale(1.25);
    }*/
.IMGplanEstrat {
    filter: invert(14%) sepia(25%) saturate(1322%) hue-rotate(142deg) brightness(100%) contrast(92%);
}

.IMGprogInst {
    filter: invert(19%) sepia(26%) saturate(3920%) hue-rotate(161deg) brightness(94%) contrast(96%);
}

.IMG_MDA {
    filter: invert(11%) sepia(96%) saturate(5319%) hue-rotate(170deg) brightness(87%) contrast(94%);
}

.IMGmonInst {
    filter: invert(37%) sepia(25%) saturate(5757%) hue-rotate(27deg) brightness(89%) contrast(95%);
}

.IMGevaInst {
    filter: invert(31%) sepia(87%) saturate(1446%) hue-rotate(162deg) brightness(86%) contrast(92%);
}

.IMGrepEject {
    filter: invert(25%) sepia(27%) saturate(1906%) hue-rotate(99deg) brightness(102%) contrast(94%);
}

.title-background {
    background-color: rgba(46, 106, 166, 0.1176470588);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #d9d9d9;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

/*TIMELINE*/
.timeline-steps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

    .timeline-steps .timeline-step {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 2rem;
    }

@media (min-width: 768px) {
    .timeline-steps .timeline-step:not(:last-child):after {
        content: "";
        display: block;
        border-top: 0.5rem solid #adadad;
        width: 30%;
        position: absolute;
        left: 15rem;
        top: 5rem;
    }

    .timeline-steps .timeline-step:not(:first-child):before {
        content: "";
        display: block;
        border-top: 0.5rem solid #adadad;
        width: 30%;
        position: absolute;
        right: 15rem;
        top: 5rem;
    }
}

.timeline-steps .timeline-content {
    width: 15rem;
    text-align: center;
}

    .timeline-steps .timeline-content .inner-circle {
        border-radius: 1.5rem;
        height: 1rem;
        width: 1rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #3b82f6;
    }

        .timeline-steps .timeline-content .inner-circle:before {
            content: "";
            background-color: #3b82f6;
            display: inline-block;
            height: 3rem;
            width: 3rem;
            min-width: 3rem;
            border-radius: 6.25rem;
            opacity: 0.5;
        }

.timeline-content:hover .imgButton {
    transform: scale(1.2);
}

.timeline-content:hover .botonMenu {
    transform: scale(1.2);
}

.zoom {
    transition: 0.2s ease-in-out 0s;
}

    .zoom:hover .imgButton {
        transform: scale(1.2);
    }

    .zoom:hover .botonMenu {
        transform: scale(1.2);
    }

.zoomIA {
    transition: 0.2s ease-in-out 0s;
}

    .zoomIA:hover .IAimgButton {
        transform: scale(1.2);
    }

    .zoomIA:hover .IAbotonMenu {
        transform: scale(1.2);
    }

.hrgrey {
    border-top: 1px solid #eee;
}

/*MODAL*/
.vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
}

.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events: none;
}

.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width: inherit;
    max-width: inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height: inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.modalImgButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 90%;
    height: 90px;
    transition: 0.2s ease-in-out 0s;
}

.modalBotonMenu {
    font-size: 15px;
    font-weight: 500;
    padding: 1rem 2.5rem 1rem 2.5rem;
    border: none;
    border-radius: 10px;
    transition: 0.2s ease-in-out 0s;
    text-decoration: none;
}

    .modalBotonMenu:hover {
        background-color: rgba(0, 51, 102, 0.2117647059);
    }

/*Modal notification badge*/
.badge {
    z-index: 1;
    text-decoration: none;
    position: absolute;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.8117647059);
    color: white;
    font-size: 10px;
}

.evaluados {
    background-color: #d1e7dd;
    color: #146c43;
}

.pendientes-eval {
    /*background-color: #f8f9fa;*/
    /*color: #6c757d;*/
    background-color: #fff3cd;
    color: #997404;
}

.proximos {
    background-color: #f8f9fa;
    color: #6c757d;
}

.resultadosProg {
    filter: invert(18%) sepia(16%) saturate(1763%) hue-rotate(79deg) brightness(100%) contrast(86%);
}

.resultadosNoProg {
    filter: invert(67%) sepia(16%) saturate(694%) hue-rotate(81deg) brightness(88%) contrast(86%);
}

.informeAnual {
    filter: invert(64%) sepia(44%) saturate(761%) hue-rotate(175deg) brightness(91%) contrast(85%);
}

.instrumentosEval {
    filter: invert(17%) sepia(94%) saturate(1265%) hue-rotate(194deg) brightness(93%) contrast(94%);
}

.reporteAccion {
    /*filter: invert(30%) sepia(64%) saturate(2169%) hue-rotate(171deg) brightness(90%) contrast(99%);*/
}

.btn_resultadosProg {
    background-color: rgba(32, 70, 39, 0.1333333333);
    color: #204627;
}

.btn_resultadosNoProg {
    background-color: rgba(116, 165, 127, 0.1333333333);
    color: #74A57F;
}

.btn_informeAnual {
    background-color: rgba(89, 165, 216, 0.1333333333);
    color: #59A5D8;
}

.btn_instrumentosEval {
    background-color: rgba(18, 66, 125, 0.1333333333);
    color: #12427D;
}

.btn_reporteAccion {
    background-color: rgba(1, 124, 165, 0.1333333333);
    color: #017ca5;
}

.light-gray-background {
    background-color: #f8f9fa;
}

/*MENU REPORTES*/
.menu-reportes {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    padding: 0;
}

    .menu-reportes .menu-item {
        border-right: 1px solid #aaaaaa;
    }

        .menu-reportes .menu-item .active {
            color: #006699 !important;
            background-color: #f6f6f6;
            text-decoration: none;
        }

            .menu-reportes .menu-item .active .menu-icon {
                filter: invert(20%) sepia(100%) saturate(2117%) hue-rotate(181deg) brightness(94%) contrast(103%) !important;
            }

        .menu-reportes .menu-item .menu-btn {
            font-size: 16px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #aaaaaa;
            text-decoration: none;
            padding: 8px 5px;
            border-radius: 10px;
            margin: 0 6px;
        }

            .menu-reportes .menu-item .menu-btn:hover {
                color: #006699;
                background-color: #f6f6f6;
                text-decoration: none;
            }

                .menu-reportes .menu-item .menu-btn:hover .menu-icon {
                    filter: invert(20%) sepia(100%) saturate(2117%) hue-rotate(181deg) brightness(94%) contrast(103%);
                }

            .menu-reportes .menu-item .menu-btn .menu-icon {
                margin-right: 5px;
                filter: invert(77%) sepia(1%) saturate(0%) hue-rotate(4deg) brightness(89%) contrast(90%);
            }

        .menu-reportes .menu-item:last-child {
            border: none;
        }

.btn-iica-green {
    color: #FFF;
    background-color: #007934;
    border-color: #007934;
}

    .btn-iica-green:hover {
        color: white;
        background-color: #669933;
        border-color: #669933;
    }

.btn-iica-blue-light {
    color: #FFF;
    background-color: #006699;
    border-color: #006699;
}

    .btn-iica-blue-light:hover {
        color: white;
        background-color: #003366;
        border-color: #003366;
    }

.btn-iica-gray {
    color: #FFF;
    background-color: #999999;
    border-color: #999999;
}

    .btn-iica-gray:hover {
        color: white;
        background-color: #b0b0b0;
        border-color: #b0b0b0;
    }

.btn-iica-green.selected {
    background-color: #669933;
    border-color: #669933;
    pointer-events: none;
}

.btn-iica-blue-light.selected {
    border-color: #003366;
    background-color: #003366;
    pointer-events: none;
}

.reporte {
    padding: 3px 20px 15px 20px;
    border: none;
    border-radius: 40px;
    text-decoration: none;
    vertical-align: middle;
    color: #FFF;
}

    .reporte > span {
        top: 8px;
    }

.correccion {
    background-color: rgba(143, 0, 33, 0.8549019608);
}

.incompleto {
    background-color: rgba(255, 0, 58, 0.8549019608);
}

.pendiente {
    background-color: rgba(251, 216, 28, 0.8549019608);
}

.completo {
    background-color: rgba(101, 191, 5, 0.8549019608);
}

.aprobado {
    background-color: rgba(0, 102, 153, 0.8549019608);
}

.navbar-iica {
    background-color: #003366;
    padding-right: 15px;
}

    .navbar-iica .navbar-brand > .img-iica {
        width: 50%;
    }

    .navbar-iica li > a {
        color: white;
    }

        .navbar-iica li > a:hover, .navbar-iica li > a:focus {
            background-color: #006699;
        }

    .navbar-iica .nav .open > a, .navbar-iica .nav .open > a:hover, .navbar-iica .nav .open > a:focus {
        font-weight: bold;
        background-color: #006699;
    }

.subNavbar-iica {
    background-color: #f8f9fa;
    padding-right: 15px;
    border-bottom: 1px solid #ebebeb;
    position: sticky;
    top: 50px;
    z-index: 2;
}

    .subNavbar-iica .subNnavbar-brand > img {
        width: 50%;
    }

    .subNavbar-iica li > a {
        color: black;
    }

        .subNavbar-iica li > a:hover, .subNavbar-iica li > a:focus {
            background-color: #ebebeb;
        }

    .subNavbar-iica .nav .open > a, .subNavbar-iica .nav .open > a:hover, .subNavbar-iica .nav .open > a:focus {
        font-weight: bold;
        background-color: #ebebeb;
    }

    .subNavbar-iica .subnav-dropdown {
        padding: 16px 0px 17px 4px;
        border-radius: 5px;
        background-color: #f8f9fa;
        border-radius: 0px;
        border: none;
    }

        .subNavbar-iica .subnav-dropdown:hover {
            background-color: #ebebeb;
            cursor: pointer !important;
        }

    .subNavbar-iica .operativo-nav {
        padding: 10px 0px 10px 10px;
        border-left: 1px solid #c8c8d3;
    }

.nav-tabs {
    margin-top: 20px;
}

.subNav-tabs {
    margin-top: 20px;
}

.tab-content {
    padding-top: 20px;
}

.statusbar {
    margin: 0 0 2px 0;
    cursor: default;
    letter-spacing: 0.3px;
}

.statusbar-inner {
    padding: 1px 5px 1px 12px;
    border: 1px solid #333;
    border-right-width: 1px;
    font-size: 15px;
}

.statusbar-icon {
    float: left;
    background: #bec5cb;
    color: #fff;
    opacity: 1;
    font-size: 14px;
    padding: 1px 15px 0;
    margin-right: 62px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.statusbar-neutral, .statusbar-neutral .statusbar-inner {
    color: #888;
    border-color: #bec5cb;
    background-color: #f4f7f9;
    border-radius: 8px;
}

.statusbar-info, .statusbar-info .statusbar-inner {
    color: #071a2b;
    border-color: #54a9dc;
    background-color: #b9e5ff;
    border-radius: 8px;
}

    .statusbar-info .statusbar-icon {
        background: #54a9dc;
    }

.statusbar-positive, .statusbar-positive .statusbar-inner {
    color: #4F8A10;
    border-color: #65bf05;
    background-color: #DFF2BF;
    border-radius: 8px;
}

    .statusbar-positive .statusbar-icon {
        background: #65bf05;
    }

.statusbar-caution, .statusbar-caution .statusbar-inner {
    color: #860d00;
    border-color: #ffb500;
    background-color: #ffea85;
    border-radius: 8px;
}

    .statusbar-caution .statusbar-icon {
        background: #ffb500;
    }

.statusbar-negative, .statusbar-negative .statusbar-inner {
    color: #fff;
    border-color: #d23400;
    background-color: #d23400;
}

    .statusbar-negative .statusbar-icon {
        background: #ff4343;
    }

hr {
    border: 0;
    clear: both;
    display: block;
    margin: 1.4rem auto;
    text-align: center;
    width: 100%;
}

/* -- Animated hr -- */
.hrprogress {
    background: rgba(1, 15, 30, 0.1);
    height: 1px;
    overflow: hidden;
    position: relative;
}

    .hrprogress::before {
        animation-duration: 50s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-name: hrprogress;
        background: #111;
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        width: 800px;
    }

@keyframes hrprogress {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(1200px);
    }
}

span.step2 {
    background: #337ab7;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

span.step {
    background: #337ab7;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #ffffff;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 5px;
    text-align: center;
    width: 1.6em;
}

    span.step:hover {
        background-color: #204d74;
        border-color: #122b40;
    }

span a {
    color: #337ab7;
}

    span a :hover {
        color: #ffffff;
    }

.checkinNumber:hover {
    color: #ffffff;
    text-decoration: none;
}

.checkinNumber:focus {
    color: #ffffff;
    text-decoration: none;
}
/* Tree View example */
ul.treeViewRoot li {
    line-height: 20px;
    width: 600px;
}

.treeView_expand, .treeView_collapse {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    float: left;
    cursor: pointer;
    padding: 0px;
}